/* CSS Document */
@charset "UTF-8";

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-FD.eot');
    src: local('../fonts/Vazir-FD'), url('../fonts/Vazir-FD.woff') format('woff'), url('../fonts/Vazir-FD.ttf') format('truetype');
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Vazir';
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
}

hr.light {
    border-color: #fff;
}

.btn {
    font-family: 'Vazir';
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.page-section {
    padding: 8rem 0;
}

.rtl .ml-auto, .rtl .mx-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

#mainNav {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: 'Vazir';
    font-weight: 700;
    color: #212529;
}

@media (max-width: 992px) {
    #mainNav .navbar-nav .nav-item {
        margin-right: 0;
    }
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: 'Vazir';
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #f4623a;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #f4623a !important;
}

@media (min-width: 992px) {
    #mainNav {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-brand:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-left: 0;
    }

    #mainNav.navbar-scrolled {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }

    #mainNav.navbar-scrolled .navbar-brand {
        color: #212529;
    }

    #mainNav.navbar-scrolled .navbar-brand:hover {
        color: #f4623a;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
        color: #212529;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
        color: #f4623a;
    }
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: -webkit-gradient(linear, right top, right bottom, from(blue), to(blue)), url("../pics/bg-masthead.jpg");
    background: linear-gradient(to bottom, rgba(66, 74, 185, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../pics/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1 {
    font-size: 2.25rem;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}

#portfolio .container-fluid {
    max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box {
    position: relative;
    display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(244, 98, 58, 0.9);
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
    font-family: 'Vazir';
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.marginauto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
  }


